In [9]:
#sets
s1={1,2,3,4}
s2={3,4,5,6}
print(s1)
print(s2)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [12]:
s1|s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [13]:
s1-s2

{1, 2}

In [14]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [15]:
str1="welcome to aiml classes"
print(str1)
str2='started python'
print(str2)
str3='''this is awesome'''
print(str3)
str4='''he said"It's awesome"'''
print(str4)

welcome to aiml classes
started python
this is awesome
he said"It's awesome"

In [3]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [17]:
print(str4)
str4[3:10]

he said"It's awesome"

'said"It'

In [18]:
str2[::-1]

'nohtyp detrats'

In [19]:
#use of split
print(str1)
str1.split()

welcome to aiml classes

['welcome', 'to', 'aiml', 'classes']

In [23]:
#use of join
reviews=["the product is awesome","great service"]
joined_string= ' '.join(reviews)
joined_string

'the product is awesome great service'

In [25]:
str5="    hellooo,how are you?    "
str5.strip()

'hellooo,how are you?'

In [26]:
sales_data = {
    "ProductID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "ProductName": ["Laptop", "Mouse", "Keyboard", "Monitor", "Chair", "Desk", "Webcam", "Headphones", "Printer", "Tablet"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Furniture", "Furniture", "Electronics", "Accessories", "Electronics", "Electronics"],
    "PriceRange": ["High", "Low", "Low", "Medium", "Medium", "Medium", "Low", "Low", "Medium", "High"],
    "StockAvailable": [15, 100, 75, 20, 10, 8, 50, 60, 25, 12],
}

In [27]:
for k,v in sales_data.items():
    print(k,set(v), end =',')
    print('/n')

ProductID {101, 102, 103, 104, 105, 106, 107, 108, 109, 110},/n
ProductName {'Keyboard', 'Desk', 'Printer', 'Monitor', 'Tablet', 'Headphones', 'Laptop', 'Chair', 'Webcam', 'Mouse'},/n
Category {'Furniture', 'Accessories', 'Electronics'},/n
PriceRange {'High', 'Low', 'Medium'},/n
StockAvailable {100, 8, 10, 75, 12, 15, 50, 20, 25, 60},/n

In [28]:
reviews = {
    "Review1": "The product quality is excellent and delivery was prompt. The product functionality is versatile",
    "Review2": "Good service but the packaging could have been better. The customer service has to improve",
    "Review3": "The product works fine, but the customer support is not very helpful. I rate the product as excellent",
}

# Result dictionary to store analysis of reviews
review_analysis = {}

# Process each review
for key, review in reviews.items():
    # Split the review into words
    words = review.lower().replace('.', '').replace(',', '').split()
    # Create a sub-dictionary with word count and unique words
    review_analysis[key] = {
        "WordCount": len(words),
        "UniqueWords": list(set(words))
    }

review_analysis

{'Review1': {'WordCount': 14,
  'UniqueWords': ['is',
   'excellent',
   'functionality',
   'delivery',
   'was',
   'product',
   'prompt',
   'the',
   'quality',
   'and',
   'versatile']},
 'Review2': {'WordCount': 15,
  'UniqueWords': ['better',
   'have',
   'the',
   'could',
   'been',
   'to',
   'customer',
   'but',
   'service',
   'has',
   'improve',
   'good',
   'packaging']},
 'Review3': {'WordCount': 18,
  'UniqueWords': ['fine',
   'is',
   'excellent',
   'support',
   'product',
   'as',
   'the',
   'not',
   'i',
   'helpful',
   'rate',
   'customer',
   'but',
   'very',
   'works']}}

In [29]:
d1={"Raam":180,"shree":159,"bharath":789}
for k in d1.keys():
    print(k)

Raam
shree
bharath

In [32]:
for v in d1.values():
    print(v)

180
159
789

In [33]:
for k,v in d1.items():
    print(k,v)

Raam 180
shree 159
bharath 789

In [35]:
d1["joee"]=908
d1

{'Raam': 180, 'shree': 159, 'bharath': 789, 'joee': 908}